<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WireMock Wizard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<h1>WireMock Wizard</h1>

<h2>Set Port</h2>
<form method="POST" action="/set_port" id="portForm">
    <label for="port_select">Choose Existing Port:</label>
    <select name="port" id="port_select">
        {% for port in ports %}
            <option value="{{ port }}">{{ port }}</option>
        {% endfor %}
    </select>

    <label for="new_port">Or Enter New Port:</label>
    <input type="text" id="new_port" name="new_port">

    <button type="submit" class="btn-set-port">Set Port</button>
</form>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
